.sendsms-form{
    filter:blur(2px);
}

/*.css-nvf14r-ToastContainer {
    box-sizing: border-box;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    padding: 8px;
    position: fixed;
    z-index: 1000;
    top: 108px !important;
    right: 0;
}*/
